.card{
     width:700px;
     text-align: center;
     padding-bottom: 30px;

}
.flex-container {
    width:700px;
    align-content: center;
}
.content{
    display: flex;
    justify-content: space-evenly;
}
.container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}